@page
@using RagnarockGasolin.Models
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


@* CAROUSEL HISTORY SAIF ____________________________________________________________________ *@
<div class="container-fluid  ">
    <div id="carouselExampleCaptions" class="carousel slide">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4" aria-label="Slide 5"></button>

        </div>
        <div class="carousel-inner ">
            <div class="carousel-item splash active">
                <img src="~/images/gif.gif" class="carousel-img-responsive d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Læs om Gasolin's utrolige rejse</h5>                    
                    <a href="/historyaboutband1#album" class="stretched-link text-decoration-none d-inline-block rounded-2 text-white px-2 py-1"></a>
                    <p>mere end 400 concerter verden over og hele 10 albums!</p>                    
                </div>
            </div>
            <div class="carousel-item splash">
                <img src="~/images/startup.jpg" class="carousel-img-responsive d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Fra bunden til toppen </h5>                    
                    <a href="/historyaboutband1#Historieomgasolin" class="stretched-link text-decoration-none d-inline-block rounded-2 text-white px-2 py-1"></a>
                    <p>Fra Christianshavn til stjernerne - Oplev den vilde rejse fra flisebøjer til landets største rockikoner.</p>
                    
                </div>
            </div>
            <div class="carousel-item splash">
                <img src="~/images/de 4.jpg" class="carousel-img-responsive d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Dansk stolthed </h5>
                    <a href="/historyaboutband1#danskmusik" class="stretched-link text-decoration-none d-inline-block rounded-2 text-white px-2 py-1"></a>
                    <p>Succes, bajere og ren rockmagi - læs hvordan Gasolin' ændrede dansk musik for altid</p>
                </div>
            </div>
            <div class="carousel-item splash">
                <img src="~/images/splittet.png" class="carousel-img-responsive d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Hver succes har en ende</h5>                    
                    <a href="/historyaboutband1#endenforgasolin" class="stretched-link text-decoration-none d-inline-block rounded-2 text-white px-2 py-1"></a>
                    <p>Efter 9 års succes og hårdt arbejde.</p>                    
                </div>
            </div>
            <div class="carousel-item splash">
                <img src="~/images/interview.gif" class="carousel-img-responsive d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Se interviewet med Gasolin  </h5>
                    <p> 
                        <a href="/historyaboutband1#interview" class="stretched-link text-decoration-none d-inline-block rounded-2 text-white px-2 py-1"> </a>
                    </p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>


</div>

@* CAROUSEL HISTORY END_____________________________________________________________ *@

@* CARDS SECTION ____________________________________________________________________________ *@

<h1 class="title text-center mt-4">UDSTILLING</h1>
<div class="cards-section">

    <div class="card">
        <img src="/images/Gibson500.png" class="card-img-top" alt="photo displaying a Gibson Les Paul Junior guitar">
        <div class="card-body">
            <h5 class="card-title">Gibson Les Paul Junior</h5>
            <p class="card-text">Les Paul Junior-modellen var en fast del af Kim Larsens arsenal i Gasolins storhedstid, som strakte sig fra 1969 til 1978. Gibson Les Paul Junior er en 'no-frills' rockguitar fra midten af 50’erne (oprindeligt introduceret i 1954), der er bestykket med en enkelt P-90 pickup."</p>
            <a href="Obects#gibson" class="btn btn-primary margin-top">Læs mere</a>
        </div>
    </div>



    <div class="card">
        <img src="/images/gas3-500.jpg" class="card-img-top" alt="photo displaying the iconic gas 3 album cover">
        <div class="card-body">
            <h5 class="card-title">Gasolin' 3 Album Cover</h5>
            <p class="card-text">
                Det ikoniske 1973 "gas 3" album cover er baseret på et vægmaleri på "Andy’s Bar" i Gothersgade i København.
                Det kan stadig opleves "live" i de mørke, atmosfæriske lokaler, hvor stemningen ikke har ændret sig meget siden 1973.
            </p>
            <a href="Obects#gas3" class="btn btn-primary margin-top">Læs mere</a>
        </div>
    </div>



    <div class="card">
        <img src="/images/wing-logo-album.jpg" class="card-img-top" alt="photo displaying Gasolin's iconic wing logo">
        <div class="card-body">
            <h5 class="card-title">Gasolin' Wing Logo</h5>
            <p class="card-text">Det røde, hvide og blå Gasolin' logo er inspireret af en Morgan sportsbil. Det indkapsler perfekt bandets identitet: Et mix af 1950er "Americana, high-speed rock 'n' roll", and a fræk, arbejderklasse-agtig her-kommer-jeg attitude.</p>
            <a href="Obects#wing" class="btn btn-primary margin-top">Læs mere</a>
        </div>
    </div>


    <div class="card">
        <img src="/images/Ibanez-ts808-tube-screamer500.jpg" class="card-img-top" alt="photo displaying a Gibson Les Paul Junior guitar">
        <div class="card-body">
            <h5 class="card-title">Ibanez TS808 Tube Screamer</h5>
            <p class="card-text"> Bandets soniske palette udbygges yderligere gennem brugen af effekter som Ibanez TS808 Tube Screamer, der tilføjer en markant overstyret kant, som skærer igennem mixet  </p>
            <a href="Obects#ibanez" class="btn btn-primary">Læs mere</a>
        </div>
    </div>



    <div class="card">
        <img src="/images/FenderStratocoaster500.png" class="card-img-top" alt="photo displaying a Fender Stratocoaster guitar">
        <div class="card-body">
            <h5 class="card-title">Fender Stratocoaster</h5>
            <p class="card-text">Gasolin' har altid været drevet af en rå, højoktan energi, der lever op til deres navn. Kernen i deres signatur-lyd er den legendariske Fender Stratocaster – den ultimative 'workhorse'-guitar, der leverer gnisten til deres soniske motor.</p>
            <a href="Obects#fender" class="btn btn-primary">Læs mere</a>
        </div>
    </div>


    <div class="card">
        <img src="/images/univox2.png" class="card-img-top" alt="photo displaying a Univox U-915 Uni-Vibe">
        <div class="card-body">
            <h5 class="card-title">Univox U-915 Uni-Vibe</h5>
            <p class="card-text">Franz Beckerlees innovative brug af Univox U-915 Uni-Vibe bidrog til Gasolins karakteristiske hvirvlende, psykedeliske teksturer og gav deres rock en eventyrlysten og dynamisk karakter</p>
            <a href="Obects#univox" class="btn btn-primary">Læs mere</a>
        </div>
    </div>

</div>


@* CARDS SECTION END *@

@* BANDMEMBERS SECTION __________________________________________________ *@
<section class="container">
    <h2>Bandmedlemmer</h2>
    <div id="carousel-bandmembers" class="carousel slide">
        <div class="carousel-inner">
            @for (int i = 0; i < Model.BandMembers.Length; i++)
            {
                <div class="carousel-item@(i == 0 ? " active" : "")"> @* insert active class to first carousel item only *@
                    <div class="band-member-content">
                        <img
                            src="~/images/@(Model.BandMembers[i].PersonImgSrc)" class="carousel-img d-block w-100 rounded-2"
                            alt="@(Model.BandMembers[i].Name)"
                        >
                        <div class="d-flex flex-column align-items-center justify-content-around">
                            <h3 class="fs-3">@(Model.BandMembers[i].Name)</h3>
                            <a href="@(Model.BandMembers[i].Href)" class="d-flex flex-column align-items-center text-decoration-none text-primary">
                                <img class="qrcode-image" src="~/images/@(Model.BandMembers[i].QrCodeImgSrc)" alt="">
                                <small>Scan QR-koden for at læse om @(Model.BandMembers[i].Name)s biografi</small>
                            </a>
                        </div>
                    </div>
                </div>
            }
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carousel-bandmembers" data-bs-slide="prev">
            <span class="carousel-control-prev-icon text-black" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carousel-bandmembers" data-bs-slide="next">
            <span class="carousel-control-next-icon text-black" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <div id="#gasolin-interview" class="interview-container">
        <h3>Gasolin' Interview i DR Aftenshowet - 2015</h3>
        <iframe
        class="interview-video"
        src="https://www.youtube-nocookie.com/embed/PoHwxGFGj3s?si=2NeT6i20VZ7Et2nS"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen>
        </iframe>
    </div>
</section>
@* BANDMEMBERS SECTION END _______________________________ *@

@{
    var greeting = "og velkommen til Ragnerocks Gasolin' udstilling!";    
    var greeting2 = "Oplev bandets vilde rejse igennem historien, lær medlemmerne at kende eller dyk ned i de ikoniske elementer i udstillingen. God fest!";
    int hour = DateTime.Now.Hour;    
}

@* VELKOMST POP-UP *@

<div class="modal fade" id="myModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">BESKED FRA ARRANGØRERNE</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
  <div class="modal-body">
  <p style="margin-bottom: 5px; padding:0;">
    @if (hour < 12) {<span>Godmorgen</span>} 
    else if (hour >= 12 && hour < 18) {<span>God eftermiddag</span>}
    else {<span>Godaften</span>} 
    @greeting
  </p>
  <p>@greeting2</p>
</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

@* script til velkomspopup *@
<script>
  document.addEventListener("DOMContentLoaded", function() {
    var hasSeenPopup = localStorage.getItem('hasSeenWelcomePopup');

    if (!hasSeenPopup) {
      // 1. initialiserer Bootstrap modalen
      var modalElement = document.getElementById('myModal');
      var myModal = new bootstrap.Modal(modalElement);
      
      // 2. viser vores modal
      myModal.show();

      @* // 3. indsætter timer, så den forsvinder af sig selv
      setTimeout(function() {
        myModal.hide();
      }, 30000);  *@

      // 4. Mark as seen so it doesn't pop up on every refresh
      localStorage.setItem('hasSeenWelcomePopup', 'true');
    }
  });
</script>